<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- CSS -->
    <link rel="stylesheet" href="css/index.css">
    <!-- FONT  -->
</head>
<body>

    <div id="app">
        <div class="container">
            <div class="form-container">
                <form class="" action="" @submit.prevent="addTodo()">
                    <input required type="text" v-model="newTodo" placeholder="inserisci una nuova task">
                    <button>
                        Aggiungi 
                    </button>
                </form>
            </div>
    
            <!-- <ul  v-if="todoList.lenght > 0"> -->
            <ul >
    
                <li v-for="(sigleTodo, i) in todoList"
                    :class="{
                        'line-through' : sigleTodo.done == true
                    }">
                    {{sigleTodo.text}}
    
                    <span @click="removeToDo(i)"> 
                        X
                    </span>
                </li>
            </ul>
            <!-- <div v-else>
                non ci sono ToDO
            </div> -->
        </div>
        
    </div>


    <!-- SCRIPT  -->
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="js/script.js" link="text/javasript">

        
    </script>
</body>
</html>